// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./theme.scss";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shuttle-infra-primary: mat.define-palette(mat.$indigo-palette);
$shuttle-infra-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shuttle-infra-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$shuttle-infra-theme: mat.define-light-theme(
  (
    color: (
      primary: $shuttle-infra-primary,
      accent: $shuttle-infra-accent,
      warn: $shuttle-infra-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($shuttle-infra-theme);

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;;
  font-weight: 300;
}
label{
  font-weight: 400;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.mat-expansion-panel-body 
{
    padding: 0 18px 10px !important;
}

.mdc-list-item{
  padding-left : 8px !important;;
}

.mat-expansion-indicator::after{
  color: white !important;
}